:root {
    --color-light-gray: #dddddd9a;
    --color-green: #04C35C;
    --color-dark-blue: #1A202C;
    --color-semi-white: #E8E8E8;
    --color-blue: #2B6CB0;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    color: var(--color-dark-blue);
}

h1,
h2 {
    font-family: 'Merriweather', sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

.container-general {
    display: flex;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-general .section-one {
    background: var(--color-light-gray);
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one .section-one__img {
    max-width: 40rem;
    max-height: 33.67rem;
}

.section-one__img img {
    width: 100%;
}

.section-two {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two__content {
    width: 41rem;
    padding: 0 3rem;
    position: relative;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

.section-two__content .content__title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 2;
    font-weight: 400;
}

.content__title h2 {
    font-size: 2.6rem;
    font-weight: 700;
}

.content__input {
    display: flex;
    flex-flow: column;
    font-size: 1.6rem;
}

.content__input input {
    margin: 1.5rem 0;
    border: 0.1rem solid var(--color-semi-white);
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    font-family: 'Lato', sans-serif;
}

.content__input-radio {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: var(--color-dark-blue);
    justify-content: space-between;
    padding: 2rem 0;
}

.content__input-radio a:hover {
    text-decoration: underline;
}

.content__button {
    display: flex;
    flex-flow: column;
}

.content__button button {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    color: var(--color-white);
}

.content__button button {
    margin: 1rem 0;
    background-color: var(--color-green);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 500ms linear;
}

.content__button button:hover {
    scale: 1.02;
}

.content__button button:nth-child(2) {
    background-color: var(--color-dark-blue);
}

.content__button button:nth-child(2) img {
    width: 2rem;
    margin-right: 1rem;
}

.content__no-account {
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: center;
}

.content__no-account a {
    margin-left: 0.5rem;
}

.content__no-account a:hover {
    text-decoration: underline;
}

@media all and (max-width: 767px) and (min-width: 300px){
    .container-general .section-one {
        display: none;
    }

    .section-two {
        width: 100%;
    }

}

@media all and (max-width: 300px) {
    .container-general .section-one {
        display: none;
    }

    .section-two {
        width: 100%;
    }

    .section-two__content .content__title {
        line-height: 1.8;
    }

    .section-two__content .content__title h2{
        font-size: 2.2rem;
    }

    .content__no-account {
        top: 1.5rem;
    }

}