* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    cursor: default;
}

p {
    line-height: 2;
    text-align: center;
}

.patterns-css {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

.container-one {
    font-size: 1.6rem;
    max-width: 100%;
}

.container-one .container-one__header {
    width: 100%;
}

.bg-header {
    background-color: var(--blue-sky);
}

.container-one__header .header__info {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    font-weight: 500;
}

.container-one .header__logo {
    width: 100%;
    font-weight: bold;
    padding: 1rem 0;
    border-bottom: 1px solid var(--extra-light-gray);
    font-size: 2.4rem;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
}

.header__logo h1 {
    cursor: pointer;
}

.container-one .container-one__cover {
    display: flex;
    align-items: center;
    background-image: url(../img/wallpaper.jpeg);
    position: relative;
    width: 100%;


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 37.8rem;
    filter: brightness(50%);
    z-index: -1;
}

.cover__content {
    position: absolute;
    top: 21rem;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 3.8rem;
    display: flex;
    flex-flow: column wrap;
}

.cover__content p {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 2.4rem;
    max-width: 63.7rem;
    text-align: justify;
}

.container-two {
    max-width: 100%;
}

.container-two__content {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    font-weight: 500;
    font-size: 1.6rem;
}

.container-two__content h2 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    transition: all 500ms ease-in-out;
}

.container-two__content h2:hover {
    scale: 1.02;
}

.container-two__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    padding-bottom: 4rem;
}

.grid__element {
    width: 100%;

    height: 30.2rem;
    background-color: var(--light-gray);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 600ms ease-in-out;
    cursor: pointer;
}

.grid__element:hover{
   background-color: rgba(25, 24, 24, 0.346);
   scale: 1.01;
}

.grid__element img {
    width: 25rem;
    height: 15rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 2rem 0;
    background-color: var(--blue-sky);
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    width: 100%;
    bottom: 0;
}


@media all and (max-width: 1200px) {
    .container-two__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 600px) {

    .container-one {
        font-size: 1.4rem;
    }

    .cover__content h1 {
        font-size: 2.3rem;
    }

    .cover__content p {
        font-size: 1.6rem;
    }

    .container-two__grid {
        grid-template-columns: 1fr;
    }
}