:root {
    --white-color: #FFFFFF;
    --blue-color: #0072D2;
    --dark-color: #131318;
    --dark-color2: #19191F;
    --yellow-color: #FFA800;
    --grey-transparent-color: #ffffff2b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    height: 100vh;
    font-family: 'B612', sans-serif;
    z-index: -1;
    cursor: default;
}

a{
    text-decoration: none;
    color: inherit;
}

.main-container {
    width: 100%;
    height: 100%;
    background-image: url('../img/fundo.svg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.main-container::after {
    content: '';
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background: inherit;
    background-attachment: fixed;
}

.main-container__titles {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 5rem;
}

.main-container__titles h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.main-container__titles h2 {
    font-size: 9.6rem;
}

.main-container__content {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    color: var(--white-color);
}

.content {
    display: flex;
    align-items: center;
}

.content__card {
    width: 18.4rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 6rem;
    transform-style: preserve-3d;
    transition: all 1000ms linear;
}

.flip:hover {
    transform: rotateY(180deg);
}

.content__img {
    max-width: 18.4;
    position: absolute;
}

.content__img img {
    border-radius: 2rem;
}

.content__img:nth-child(2) {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.content__info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 28rem;
}

.info__sinopse {
    max-width: 72rem;
}

.info__sinopse p {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.8;
}

.info__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 7.5rem;
    gap: 1rem;
}

.info__about-time span:nth-child(2) {
    margin-left: 1rem;
}

.info__about-rating {
    display: flex;
}

.info__about-rating .star-icon {
    list-style: none;
}

.star-icon::before{
    content: "\f005";
    font-size: 4rem;
    color: var(--yellow-color);
    cursor: pointer;
    margin-left: 1rem;
}

.star-icon.ativo ~ .star-icon::before{
    content: "\f005"; /*estrelas vazias após a classe ativo*/
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: var(--white-color);
    color: var(--grey-transparent-color);
}

.info__about-rating:hover .star-icon::before{
    content: "\f005"; /*estrelas cheias ao passar o mouse*/
    color: var(--yellow-color);
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
}

.star-icon:hover ~ .star-icon::before {
    content: "\f005"; /*estrelas que ficam com hover tem suas irmãs seguintes vázias*/
    color: var(--grey-transparent-color);
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: var(--white-color);
}

.info__buttons {
    max-width: 34rem;
    display: flex;
    align-items: center;
}

.info__buttons button {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
    border: none;
    color: var(--white-color);
}

@keyframes scaleButton {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }

}

.info__buttons button:nth-child(1) {
    background-color: var(--blue-color);
    margin-right: 2rem;
    width: 50%;
}

.info__buttons button:nth-child(2) {
    width: 35%;
    background-color: var(--dark-color);
    border: 1px solid var(--white-color);
}

.info__buttons button:nth-child(1):hover {
    cursor: pointer;
    animation: scaleButton 1s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    box-shadow: 0rem 0rem 0.1rem 0.1rem #5b45cd32;
}

.info__buttons button:nth-child(2):hover {
    cursor: pointer;
    animation: scaleButton 1s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    box-shadow: 0rem 0rem 0.1rem 0.1rem #5b45cd32;
}

@media all and (max-width: 768px){

    .main-container{
        background-size: 150vh;
        background-color: #19191F;
    }

    .main-container__content{
        max-height: 70%;
    }
    
    .content__card {
        display: none;
    }

    .content {
        align-items: flex-end;
    }

    .content__info{
       height: auto;
    }

    .content__info::after{
        content: '';
        width: 100%;
        height: 38%;
        background-color: var(--dark-color2);
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .info__sinopse p{
        font-size: 1.8rem;
        line-height: 1.5;
        border-top: 1px solid var(--white-color);
        padding-top: 5%;
    }

    .info__about{
        order: -1;
        margin: 0;
        gap: 0;
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }

    .info__about-time span:nth-child(2) {
        margin-left: 0.2rem;
    }

    .info__about-rating .star-icon::before{
        font-size: 2rem;
    }

    .info__buttons{
        order: -1;
        justify-content: center;
        max-width: 100%;
        padding-bottom: 5%;
        position: relative;
    }

    .info__buttons button{
        padding: 1rem 0.8rem;
     
    }

    .info__buttons button:nth-child(1){
        margin-right: 1rem;
    }

    .info__buttons button:nth-child(2), 
    .info__buttons button:nth-child(1){
        width: 50%;
        font-size: 1.4rem;
    }

}