:root {
    --white-color: #FFFFFF;
    --blue-color: #0072D2;
    --dark-color: #131318;
    --dark-color2: #19191F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    height: 100vh; 
    font-family: 'B612', sans-serif;
}


.main-container {
    width: 100%;
    height: 100%;
    background-image: url('../img/fundo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
    z-index: -1;
}

.main-container::after{
    content: '';
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: inherit;
}

.main-container__content {
    width: 100%;
    min-height: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    color: var(--white-color);
}

.main-container__titles {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    color: var(--white-color);
}

.main-container__titles h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.main-container__titles h2 {
    font-size: 9.6rem;
}

