:root {
    --white-color: #FFFFFF;
    --blue-color: #0072D2;
    --dark-color: #131318;
    --dark-color2: #19191F;
    --yellow-color: #FFA800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    height: 100vh; 
    font-family: 'B612', sans-serif;
    z-index: -1;
}

.main-container {
    width: 100%;
    height: 100%;
    background-image: url('../img/fundo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
    z-index: 1;
}

.main-container::after{
    content: '';
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: inherit;
}

.main-container__titles {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    color: var(--white-color);
}

.main-container__titles h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.main-container__titles h2 {
    font-size: 9.6rem;
}

.main-container__content {
    width: 100%;
    min-height: 70%;
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    color: var(--white-color);
}

.content {
    display: flex;
    align-items: center;
}

.content__img {
    max-width: 18.4rem;
}

.content__img img {
    border-radius: 2rem;
}

.content__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-left: 6rem;
    height: 28rem;
}

.info__sinopse {
    max-width: 72rem;
}

.info__sinopse p {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.8;
}

.info__about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 7.5rem;
    gap: 1rem;
}

.info__about-time span:nth-child(2){
    margin-left: 1rem;
}

.info__about-rating {
    font-size: 3.5rem;
    color: var(--yellow-color);
    cursor: default;
}

.info__about-rating .fa-solid{
    font-size: 100%;
}

.info__about-rating .fa-solid:nth-child(5) {
    color: rgba(255, 255, 255, 0.5);
    stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.info__buttons{
    max-width: 34rem;
    display: flex;
    align-items: center;
}

.info__buttons button {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem;
    text-transform: uppercase;
    border-radius: 0.3rem;
    border: none;
    color: var(--white-color);
}

.info__buttons button:nth-child(1) {
    background-color:  var(--blue-color);
    margin-right: 2rem;
    width: 50%;
}

.info__buttons button:nth-child(2){
    width: 35%;
    background-color: var(--dark-color);
    border: 1px solid var(--white-color);
} 