:root {
    --primary-color: #D7D4FF;
    --secondary-color: #6C63FF;
    --light-gray-color: #F9F9F9;
    --red-color: #FF6363;
    --blue-sky-color: #63ECFF;
    --purple-color: #F363FF;
    --gree-color: #63FF73;
    --yellow-color: #FFDD63;
    --dark-purple-color: #6663FF;
    --title-color: #2B2B2B;
    --text-color: #555555;
    --text-place-color: #6E7275BD;
    --shadow-color: #1717171A;
    --white-color: #FFFFFF;
}